<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/2f567fbc-25e5-4493-be61-2e91e391d75c/resourcegroups/K-Bikpower/providers/Microsoft.ContainerRegistry/registries/ZUMOAPPNAME20200811202349</ResourceId>
    <ResourceName>ZUMOAPPNAME20200811202349</ResourceName>
    <ResourceGroup>K-Bikpower</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://zumoappname20200811202349.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>